<div class="nav">
  <a name="welcome"></a>
  <div class="nav__innards">
    <div class="nav__right">
      <a href="#skills" class="nav__links nav__links-media" {{action "scrollToSkills"}}>Skills</a>
      <a href="#projects" class="nav__links" {{action "scrollToProjects"}}>My Work</a>
      <a href="#about" class="nav__links" {{action "scrollToAbout"}}>About</a>
      <a href="#contact" class="nav__links" {{action "scrollToContact"}}>Contact</a>
    </div>
  </div>
</div>
<div class="app__main">
  <a name="top"></a>
  <div class="hero__main">
    <div class="top-arrow">
      <a href="#skills" class="nav__links">
        <p class="arrow first-arrow" {{action "scrollToSkills"}}><i class="fa fa-chevron-circle-down fa-2x" aria-hidden="true"></i></p>
      </a>
    </div>
    <div class="main-container">
      <div class="textbox__main">
        <p class="greeting">welcome.</p>
        <p class="title__name"><span class="first-letter">J</span>effrey <span class="span__name"><span class="first-letter">M</span>inbiole</span></p>
        <p class="title__self">Web Developer</p>
      </div>
      <div class="img-container">
      </div>
    </div>
  </div>
  <a name="skills"></a>
  <div class="skills" id="skills">
    <div class="hero hero__skills">
      <div class="titlebox">
        <p class="title__skills"><span class="title">Skills</span></p>
      </div>
      <div class="skills-list">
        <div class="skills-list__section">
          <div class="textbox__subhead">
            <div class="skills-list__icons"><i class="fa fa-laptop" aria-hidden="true"></i></div>
            <p class="skills-list__category">Front End</p>
            <hr>
          </div>
          <div class="skills-list__list">
            <li class="skills-list__item">Ember</li>
            <li class="skills-list__item">JavaScript</li>
            <li class="skills-list__item">CSS/SASS</li>
            <li class="skills-list__item">HTML5</li>
          </div>
        </div>
        <div class="skills-list__section">
          <div class="textbox__subhead">
            <div class="skills-list__icons"><i class="fa fa-lightbulb-o" aria-hidden="true"></i></div>
            <p class="skills-list__category">Experience</p>
            <hr>
          </div>
          <div class="skills-list__list">
            <li class="skills-list__item">Responsive</li>
            <li class="skills-list__item">Leadership</li>
            <li class="skills-list__item">Fast Learner</li>
            <li class="skills-list__item">Communication</li>
          </div>
        </div>
        <div class="skills-list__section">
          <div class="textbox__subhead">
            <div class="skills-list__icons"><i class="fa fa-wrench" aria-hidden="true"></i></div>
            <p class="skills-list__category">Tools</p>
            <hr>
          </div>
          <div class="skills-list__list">
            <li class="skills-list__item">Heroku APIs</li>
            <li class="skills-list__item">Frameworks</li>
            <li class="skills-list__item">Surge</li>
            <li class="skills-list__item">Github</li>
          </div>
        </div>
      </div>
      <a name="projects" id="projects"></a>
    </div>
  </div>

  <div class="projects" >
    <div class="hero no-flex">
      <div class="project-grid">
        <div class="project-grid__item">
          <img class="project-grid__pic" src="/images/degenerator.png" alt="" />
          <div class="overlay__projects">
            <p class="overlay__title">The [de]generator</p>
            <p class="overlay__projects-about">This is a photo sharing experience app where users can upload an image that is affected by each view it recieves. Users set the type of degeneration (filters) and the number of views before the photo and it's comments are permanently removed
              from the server.</p>
            <div class="overlay__links">
              <a class="overlay__links-button" href="https://degenerator.surge.sh/">See Live</a>
              <a class="overlay__links-button" href="https://github.com/thedegenerator">See Code</a>
            </div>
          </div>
        </div>
        <div class="project-grid__item">
          <img class="project-grid__pic" src="/images/twitch.png" alt="" />
          <div class="overlay__projects">
            <p class="overlay__title">Twitch Clone</p>
            <p class="overlay__projects-about">In this project, I learned to observe a desired design and replicate it. I learned more about JavaScript and how to fetch from an API to retrieve the information I was looking for. I utilized my responsive designs and made use of media queries
              to create a dynamic, resizable clone.</p>
            <div class="overlay__links">
              <a class="overlay__links-button" href="http://jm-twitch.surge.sh/">See Live</a>
              <a class="overlay__links-button" href="https://github.com/jminbiole/09-twitch-search">See Code</a>
            </div>
          </div>
        </div>
        <div class="project-grid__item">
          <img class="project-grid__pic" src="/images/run-timer.png" alt="" />
          <div class="overlay__projects">
            <p class="overlay__title">Run Timer</p>
            <p class="overlay__projects-about">With this application I dove deeper into Ember.js development. This is an app which allows users to keep track of their run times and add notes about the run. I added an unrequired delete button so users could keep their runs recent. When
              you click on the run, you can see the run details and an edit feature.</p>
            <div class="overlay__links">
              <a class="overlay__links-button" href="http://www.jm-runtimer.surge.sh/">See Live</a>
              <a class="overlay__links-button" href="https://github.com/jminbiole/19-run-timer">See Code</a>
            </div>
          </div>
        </div>
        <div class="project-grid__item">
          <img class="project-grid__pic" src="/images/puppies.png" alt="" />
          <div class="overlay__projects">
            <p class="overlay__title">Puppies</p>
            <p class="overlay__projects-about">Here, I learned how to create a CRUD app and how to toggle features. I furthered my knowledge of responsive design and how to implement user uploads. When a user changes the puppy's information or deletes a puppy, the changes stay after refreshing.</p>
            <div class="overlay__links">
              <a class="overlay__links-button" href="http://jm-puppies.surge.sh/">See Live</a>
              <a class="overlay__links-button" href="https://github.com/jminbiole/14-puppy-adoption">See Code</a>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
  <a name="about"></a>
  <div class="about-me" id="about">
    <div class="hero__about">
      <div class="titlebox">
        <p class="title__about"><span class="title">About</span></p>
      </div>
      <div class="textbox">

        <div class="textbox__about">
          <div class="textbox__subhead">
            <div class="skills-list__icons"><i class="fa fa-file-text" aria-hidden="true"></i></div>
            <p class="textbox__subhead-text">Summary</p>
            <hr class="hr-about">
          </div>
          <p class="textbox__about-text">The last three months of my life have been devoted to coding, and I’ve discovered how much I love it. I've finally found work that’s enjoyable and offers me a future of learning and growth.</p>
        </div>

        <div class="textbox__about">
          <div class="textbox__subhead">
            <div class="skills-list__icons"><i class="fa fa-briefcase" aria-hidden="true"></i></div>
            <p class="textbox__subhead-text">Work History</p>
            <hr class="hr-about">
          </div>
          <p class="textbox__about-text">I’ve been a manager for most of my career, giving me extensive experience in building and leading teams. I’m a confident communicator and am adept at solving tough problems.</p>
        </div>
        <div class="textbox__about">
          <div class="textbox__subhead">
            <div class="skills-list__icons"><i class="fa fa-binoculars" aria-hidden="true"></i></div>
            <p class="textbox__subhead-text">Looking Ahead</p>
            <hr class="hr-about">
          </div>
          <p class="textbox__about-text">Now my career as a web developer begins! I want to create dynamic, responsive web products, and am excited to contribute to the Nashville tech community.</p>
        </div>

      </div>
      <div class="resume">
        <a class="resume-link" href="/pdf/Jeffresume.pdf">Resumé</a>
      </div>
    </div>
  </div>
  <a name="contact"></a>
  <div class="contact" id="contact">
    <div class="hero hero__contact">
      <p class="title__contact"><span class="title">Contact</span></p>
      <div class="contact__grid">
        <div class="contact__item">
          <a class="contact__link" href="https://github.com/jminbiole">
            <div class="contact__item-top"><i class="fa fa-github icons" aria-hidden="true"></i></div>
            <div class="overlay__contacts">
              <p class="overlay__contacts-message">See my code</p>
            </div>
          </a>
        </div>

        <div class="contact__item">
          <div class="overlay__contacts">
            <p class="overlay__contacts-message">615.788.4726</p>
          </div>
          <div class="contact__item-top"><i class="fa fa-mobile icons" aria-hidden="true"></i></div>
        </div>

        <div class="contact__item">
          <a class="contact__link" href="https://www.linkedin.com/in/jeff-minbiole-a46874b5">
            <div class="contact__item-top"><i class="fa fa-linkedin-square icons" aria-hidden="true"></i></div>
            <div class="overlay__contacts">
              <p class="overlay__contacts-message">Connect
                <br>with me</p>
            </div>
          </a>
        </div>

        <div class="contact__item">
          <a class="contact__link" href="https://twitter.com/minbiole_jeff">
            <div class="contact__item-top"><i class="fa fa-twitter icons" aria-hidden="true"></i></div>
            <div class="overlay__contacts">
              <p class="overlay__contacts-message">Follow</p>
            </div>
          </a>
        </div>

        <div class="contact__item">
          <a class="contact__link" href="mailto:minbiole.jeff@gmail.com?subject=Hello,%20Jeff!%20I%20like%20your%20portfolio!">
            <div class="contact__item-top"><i class="fa fa-envelope icons" aria-hidden="true"></i></div>
            <div class="overlay__contacts">
              <p class="overlay__contacts-message">minbiole.jeff
                <br>@gmail.com</p>
            </div>
          </a>
        </div>

      </div>
      <div class="top-arrow">
        <a href="#top" class="nav__links">
          <p class="arrow bottom-arrow" {{action 'toTop'}}><i class="fa fa-chevron-circle-up fa-2x" aria-hidden="true"></i></p>
        </a>
      </div>
    </div>
  </div>
  <footer>
    <div class="hero__footer">
      &copy; Jeffrey Minbiole 2016
    </div>
  </footer>
</div>

{{outlet}}
